# Run with:
# ansible-playbook InstallPhp.yml

---
- name: Install Php
  hosts: all
  tasks:

  - name: Add PHP repository
    community.general.zypper_repository:
      repo: 'https://download.opensuse.org/repositories/devel:languages:php:php82/16.0/devel:languages:php:php82.repo'
      auto_import_keys: true
      runrefresh: true

  - name: Install Php 8.2 package on OpenSUSE/SUSE Linux
    zypper:
      name: devel_languages_php_php82:php8
      state: present
    notify:
    - Restart Apache2 service

  - name: Install Php 8.2 extension packages on OpenSUSE/SUSE Linux
    zypper:
      state: present
      name:
#        - php8-APCu
        - devel_languages_php_php82:php8-cli
        - devel_languages_php_php82:php8-ctype
        - devel_languages_php_php82:php8-curl
        - devel_languages_php_php82:php8-dom
        - devel_languages_php_php82:php8-fileinfo
        - devel_languages_php_php82:php8-gd
        - devel_languages_php_php82:php8-gettext
        - devel_languages_php_php82:php8-iconv
        - devel_languages_php_php82:php8-intl
        - devel_languages_php_php82:php8-mbstring
        - devel_languages_php_php82:php8-mysql
        - devel_languages_php_php82:php8-openssl
        - devel_languages_php_php82:php8-pdo
        - devel_languages_php_php82:php8-pear
        - devel_languages_php_php82:php8-phar
        - devel_languages_php_php82:php8-posix
        - devel_languages_php_php82:php8-sqlite
        - devel_languages_php_php82:php8-sysvsem
        - devel_languages_php_php82:php8-tokenizer
        - devel_languages_php_php82:php8-xmlreader
        - devel_languages_php_php82:php8-xmlwriter
        - devel_languages_php_php82:php8-zip
        - devel_languages_php_php82:php8-zlib
    notify:
    - Restart Apache2 service

  - name: Install Apache2 Php Mod package on OpenSUSE/SUSE Linux
    zypper:
      name: devel_languages_php_php82:apache2-mod_php8
      state: present
    notify:
    - Restart Apache2 service

  - name: Find max upload filesize
    lineinfile: 
      path: /etc/php8/apache2/php.ini
      line: "upload_max_filesize = 20M"
      state: present 
    register: maxuploadfilesize_check

  - name: Set max upload filesize
    ansible.builtin.shell: sed -i 's/\(^upload_max_filesize = \).*/\120M/' /etc/php8/apache2/php.ini
    when: maxuploadfilesize_check.changed
    notify:
    - Restart Apache2 service

  - name: Find memory limit
    lineinfile:
      path: /etc/php8/apache2/php.ini
      line: "memory_limit = 256M"
      state: present
    register: memorylimit_check

  - name: Set memory limit
    ansible.builtin.shell: sed -i 's/\(^memory_limit = \).*/\1256M/' /etc/php8/apache2/php.ini
    when: memorylimit_check.changed
    notify:
    - Restart Apache2 service

  - name: Find upload max filesize
    lineinfile:
      path: /etc/php8/apache2/php.ini
      line: "upload_max_filesize = 20M"
      state: present
    register: uploadmaxfilesize_check

  - name: Set CLI max upload filesize
    ansible.builtin.shell: sed -i 's/\(^upload_max_filesize = \).*/\120M/' /etc/php8/cli/php.ini
    when: uploadmaxfilesize_check.changed
    notify:
    - Restart Apache2 service

  - name: Enable the Apache2 module 
    community.general.apache2_module:
      state: present
      name: php8
    ignore_errors: yes #BUG will error if already present

  handlers:
    - name: Restart Apache2 service
      ansible.builtin.systemd:
        state: restarted
        name: apache2

