# Run with:
# ansible-playbook SetupIrcServer.yml --ask-vault-pass

---
- name: Setup IRC Server
  hosts: all
  tasks:

  - name: Check if configuration file exists
    stat:
      path: /etc/inspircd/inspircd.conf
    register: ircconfiguration_exists

  - name: Check if modules configuration file exists
    stat:
      path: /etc/inspircd/modules.conf
    register: ircmodules_exists

  - name: Copy example configuration file
    ansible.builtin.copy:
      remote_src: true
      src: /etc/inspircd/inspircd.example.conf
      dest: /etc/inspircd/inspircd.conf
    when: ircconfiguration_exists.stat.exists == false

  - name: Copy example modules file
    ansible.builtin.copy:
      remote_src: true
      src: /etc/inspircd/modules.example.conf
      dest: /etc/inspircd/modules.conf
    when: ircmodules_exists.stat.exists == false

  - name: Uncomment Server Line
    lineinfile:
      state: present
      dest: /etc/inspircd/inspircd.conf
      regexp: '^# <server'
      line: '<server'

  - name: Set Server Name
    lineinfile:
      state: present
      dest: /etc/inspircd/inspircd.conf
      regexp: '^#         name="irc.&networkDomain;"'
      line: '         name="irc.orians.org"'

  - name: Set Server Description
    lineinfile:
      state: present
      dest: /etc/inspircd/inspircd.conf
      regexp: '^#         description="&networkName; IRC server"'
      line: '         description="Orians IRC"'

  - name: Set Server Network Name
    lineinfile:
      state: present
      dest: /etc/inspircd/inspircd.conf
      regexp: '^#         network="&networkName;">'
      line: '         network="orians">'

#Needs updating
#  - name: Set Admin
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^#<admin'
#      line: '<admin'
#
#  - name: Set Admin Name
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^#       name="Johnny English"'
#      line: '       name="A.J. Orians"'
#
#  - name: Set Admin Nickname
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^#       nick="MI5"'
#      line: '       nick="ajorians"'
#
#  - name: Set Admin EMail
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^#       email="MI5@the.best.secret.agent">'
#      line: '       email="ajorians@gmail.com">'

  - name: Set gnutls in modules file
    lineinfile:
      state: present
      dest: /etc/inspircd/modules.conf
      regexp: '^#<module name="ssl_gnutls">'
      line: '<module name="ssl_gnutls">'

  - name: Configure SSL Output
    lineinfile:
      dest: /etc/inspircd/modules.conf
      line: "{{ item.line }}"
    loop:
      - { line: '<gnutls' }
      - { line: '    certfile="/etc/inspircd/ssl/cert.pem"' }
      - { line: '    keyfile="/etc/inspircd/ssl/key.pem"' }
      - { line: '    priority="SECURE192:-VERS-SSL3.0">' }

  - name: Set SSL Information
    lineinfile:
      dest: /etc/inspircd/inspircd.conf
      insertafter: '# TLS \(SSL\) listener that binds on a TCP\/IP endpoint:'
      line: '<bind address="" port="6697" type="clients" sslprofile="gnutls">'

  # I think rules isn't supported so removing that attribute
#  - name: Close Files tag
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^<files motd="&confdir;motd.txt"'
#      line: '<files motd="motd.txt">'

#  - name: Comment out rules attribute
#    lineinfile:
#      state: present
#      dest: /etc/inspircd/inspircd.conf
#      regexp: '^       rules="&confdir;rules.txt">'
#      line: '#       rules="&confdir;rules.txt">'

  # Not sure why &confdir; exists if not defined
#  - name: Replace all &confdir;
#    ansible.builtin.replace:
#      path: /etc/inspircd/inspircd.conf
#      regexp: '&confdir;'

  # Not sure why &piddir; exists if not defined
#  - name: Replace all &piddir;
#    ansible.builtin.replace:
#      path: /etc/inspircd/inspircd.conf
#      regexp: '&piddir;'

  - name: Make Apache VHost file
    ansible.builtin.copy:
      dest: /etc/apache2/vhosts.d/irc.conf
      force: false
      content: |
         <VirtualHost *:80>
           ServerAdmin webmaster@localhost
           DocumentRoot /srv/www/htdocs/birthdays/src
           ServerName irc.orians.org
           ServerAlias internetrelaychat.orians.org
           <Directory /srv/www/htdocs/birthdays/src>
              Options All
              AllowOverride All
           </Directory>
         </VirtualHost>

  - name: Restart Apache2 service
    ansible.builtin.systemd:
      state: restarted
      name: apache2

  - name: Obtain SSL certificate
    shell: certbot --agree-tos --apache -m ajorians@gmail.com -n -d irc.orians.org

  - name: Install gnutls package on OpenSUSE/SUSE Linux
    zypper:
      name: gnutls
      state: present

  - name: Install inspircd-modules-gnutls package on OpenSUSE/SUSE Linux
    zypper:
      name: inspircd-modules-gnutls
      state: present

  - name: Create SSL directory if it does not exist
    ansible.builtin.file:
      path: /etc/inspircd/ssl
      state: directory
      mode: '0755'

  - name: Copy fullchain file
    ansible.builtin.copy:
      src: /etc/letsencrypt/live/irc.orians.org/fullchain.pem
      dest: /etc/inspircd/ssl/cert.pem
      remote_src: yes
      owner: root
      group: inspircd
      mode: '0755'

  - name: Copy private key file
    ansible.builtin.copy:
      src: /etc/letsencrypt/live/irc.orians.org/privkey.pem
      dest: /etc/inspircd/ssl/key.pem
      remote_src: yes
      owner: root
      group: inspircd
      mode: '0755'

  - name: Enable inspircd service
    ansible.builtin.systemd:
      name: inspircd
      enabled: yes

  - name: Start inspircd service
    ansible.builtin.systemd:
      state: restarted
      name: inspircd

