volumes:
  nextcloud:

services:
  nextcloud:
    image: nextcloud
    restart: always
    ports:
      - 5600:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD=nextpassword
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextuser
      - MYSQL_HOST=database.orians.org
      - OVERWRITEHOST=nextcloud.orians.org
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=172.26.0.0/16 #From doing: docker inspect nginx_proxy_manager_default | grep -i 172
