volumes:
  nextcloud:

services:
  nextcloud:
    image: nextcloud
    restart: always
    ports:
      - 5600:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD=nextpassword
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextuser
      - MYSQL_HOST=database.orians.org
